@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
body{
  margin: 0;
}
.encabezado{
  margin-bottom: 1.5em;
  padding: 1em;
  background-image: linear-gradient(#2c2c2c,#484848);
  display: grid;
  grid-template-columns: 20% auto;
}
.bg{
min-width: 100%;
min-height: 1024px;
width: auto;
height: 100%;
top: 0;
left: -16%;
position: fixed;
z-index: -1;
}
.mbg{
  display: none;
}
.contenedor-logo{
  grid-column-start: 1;
  text-align: center;
}
.contenedor-logo img{
width: 75%;
height: 100%;
text-align: center;
}
.menu-header{
  grid-column-start: 2;
  display: inline-block;
  width: 100%;
  align-content: center;
}
.menu-header>ul{
  text-align: center;
  padding: 0;
}
.menu-header a > li{
  font-family: 'Metal Mania';
  font-size: 1.2em;
  display: inline-block;
  padding: 0.5em;
  padding-left: 4.2em;
  padding-right: 4.2em;
  text-decoration: none;
  background-image: linear-gradient(#2C2C2C, #484848);
  opacity: 85%;
  color: #f9d190;
}
.menu-header a li:hover{
    animation: pulse 2s infinite;
    transition: .4s;
}
.titulo-grupos{
  margin: auto;
}
.titulo-grupos h1{
  font-family: 'Metal Mania', cursive;
  background-image: linear-gradient(#865825, #f9d190); 
  margin: auto;
  text-align: center;
  width: 10%;
  padding: 0.3em;
}
.sabaton-logo{
  height: 6.5em;
  position: fixed;
  top: 30%;
  left: 42.5%;
}
.powerwolf-logo{
  height: 6em;
  position: fixed;
  top: 60%;
  left: 15.5%;
}
.whispered-logo{
  height: 6em;
  position: fixed;
  top: 76%;
  left: 16%;
}
.warcry-logo{
  height: 5em;
  position: fixed;
  top: 66%;
  left: 75%;
}
.korn-logo{
  height: 6em;
  position: fixed;
  top: 55%;
  left: 2%;
}
.slipknot-logo{
  height: 6em;
  position: fixed;
  top: 43%;
  left: 18.5%;
}
.systemofadown-logo{
  height: 9em;
  position: fixed;
  top: 20%;
  left: 18.5%;
}
.muse-logo{
  height: 4.3em;
  position: fixed;
  top: 75%;
  left: 2.5%;
}
.beartooth-logo{
  height: 6em;
  position: fixed;
  top: 47%;
  left: 71%;
}
.archenemy-logo{
  height: 7em;
  position: fixed;
  top: 53%;
  left: 41.7%;
}
.threedaysgrace-logo{
  height: 6em;
  position: fixed;
  top: 25%;
  left: 72%;
}
.rammstein-logo{
  height: 8em;
  position: fixed;
  top: 72%;
  left: 43%;
}
.saratoga-logo{
  height: 7em;
  position: fixed;
  top: 82%;
  left: 72%;
}
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    70% {
      transform: scale(.9);
    }
      100% {
      transform: scale(1);
    }
  }
@media only screen and (max-width: 768px) {
  html, body{
    background-size: 27em 100em;
    background-position-x: 0em;
    background-position-y: 7em;
  }
  .encabezado{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin: 0;
    margin-bottom: 1em;
  }
  .bg{
    display: none;
  }
  .mbg{
    display: inline-block;
    min-width: 100%;
      min-height: 1024px;
      width: auto;
      height: 100%;
      top: 0;
      left: -210px;
      position: fixed;
      z-index: -1;
  }
  .contenedor-logo{
    grid-column-start: 1;
    grid-row-start: 1;
    width: 100%;
  }
  .menu-header{
    grid-column-start: 1;
    grid-row-start: 2;
    width: 100%;
  }
  .menu-header li{
    width: 40%;
  }
  .titulo-grupos{
    margin: auto;
    width: 80%;
    transform: translate(-3px);
  }
  .titulo-grupos h1{
    width: auto;
  }
  .bandas{
    width: 100%;
  }
  .bandas div{
    width: 100%;
  }
  .sabaton-logo{
    position: relative;
    transform: translate(-80px,5px);
  }
  .powerwolf-logo{
    position: relative;
    transform: translate(-35px,5px);
  }
  .archenemy-logo{
    position: relative;
    transform: translate(-77px,5px);
  }
  .rammstein-logo{
    position: relative;
    transform: translate(-65px,10px);
  }
  .whispered-logo{
    position: relative;
    transform: translate(-20px,0px);
  }
  .warcry-logo{
    position: relative;
    transform: translate(-250px,0px);
  }
  .slipknot-logo{
    position: relative;
    transform: translate(20px,5px);
  }
  .korn-logo{
    position: relative;
    transform: translate(110px,5px);
  }
  .systemofadown-logo{
    position: relative;
    transform: translate(55px,1px);
  }
  .muse-logo{
    position: relative;
    transform: translate(105px,5px);
  }
  .saratoga-logo{
    position: relative;
    transform: translate(-240px,5px);
  }
  .threedaysgrace-logo{
    position: relative;
    transform: translate(-210px,15px);
  }
  .beartooth-logo{
    position: relative;
    transform: translate(-190px,20px);
  }
}