@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    height: 100%;
    margin: 0;
    background-image: url("https://c.tenor.com/5qbE4Sezr78AAAAd/concert-sabaton.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 200vh;
}
header{
  margin: 0;
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  
}
.contenedor-logo{
  margin: auto;
  text-align: center;
  grid-column-start: 2;
  grid-row-start: 2;
}
.contenedor-header{
  text-align: center;
  grid-column-start: 2;
  width: 100%;
}
.menu-header a > li{
    font-family: 'Metal Mania';
    font-size: 1.5em;
    display: inline-block;
    padding: 0.5em;
    padding-left: 4.2em;
    padding-right: 4.2em;
    text-decoration: none;
    background-image: linear-gradient(#2C2C2C, #484848);
    opacity: 85%;
    color: #f9d190;
}
.menu-header{
  display: inline-block;
  width: 100%;
  align-content: center;
}
.menu-header>ul{
  text-align: center;
  padding: 0;
}
.menu-header a li:hover{
    animation: pulse 2s infinite;
    transition: .4s;
}
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    70% {
      transform: scale(.9);
    }
      100% {
      transform: scale(1);
    }
  }
@media only screen and (max-width: 768px) {
  body{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
  .contenedor-header{
    text-align: center;
  }
  .menu-header{
    grid-column-start: 1;
  }
  .menu-header li{
    width: 25%;
    margin: 1em;
  }
  body, html{
    height: 100%;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Hellfest2017Sabaton_01.jpg/1024px-Hellfest2017Sabaton_01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}