@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    background-color: #474747;
    margin: 0;
}
.contenedor-header{
    position: relative;
    text-align: center;
}
.imagen-header{
    width: 100%;
    height: 657px;
}
.titulo-header{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    top: 45%;
    left: 45%;
    font-size: 3em;
    color: white;
    background-color: #474747;
    opacity: 80%;
}
.menu-header{
    position: absolute;
    top: 0.5%;
    right: 36%;
}
.menu-header a > li{
    display: inline-block;
    padding: 0.5em;
    text-decoration: none;
    background-color: #474747;
    opacity: 80%;
    color: white;
}